## ignore working files & any covid19 so that this repo can live in covid19 repo but not have any effect on it
node_modules
.DS_Store
.env
js/arrow
js/alerts
js/anchor-events
js/charts-sandbox
js/config
js/dark-accordion
js/dashboard-v1
js/dashboard-v2
js/equity-dash
js/feature-detect
js/links
js/maps
js/menu
js/pagerating
js/plasma
js/polyfills
js/search
js/survey-vaccine
js/telehealth
js/vaccines
js/video
build
img
sandbox
js/es5.js
js/index.js
js/rollup.config.all.js
js/rollup.config.es5.js
js/rollup.config.js
js/tracking-you/
css
storybook-static/*